        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            color: white;
            padding: 10px 20px;
        }
        .header h1 {
            margin: 0;
        }
        .topbar-btn {
            background-color: #4936f4;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        .topbar-btn:hover {
            background-color: #4936f4e0;
        }
        .logout-btn {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        .logout-btn:hover {
            background-color: #d32f2f;
        }
        .content {
            height: calc(100vh - 40px); /* Adjust based on header height */
            background-color: #f2f2f2;
        }

        .intro {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            color: white;
            padding: 10px 20px;
        }

        .flex { display: flex; }

        .workers, .zones, .factions, .config, .mecanics {
            flex: 1;
            padding: 20px;
        }
        .workers {
            background-color: #c3e5f8;
        }
        .zones, .factions { 
            background-color: #f8c3c3;
        }
        
        .config, .mecanics {
            display: block;
            padding: 20px;
        }